@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

button {
  text-decoration: none;
  color: black;
}
button:hover,
button:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

.container {
  padding: 6rem;
  height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin: 0;
}

.marginnn {
  margin-top: 159px;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-top {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.main-logo {
  width: fit-content;
  height: inherit;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.main-logo p {
  font-size: 28px;
  font-family: "Comfortaa", cursive;
  color: #16be00;
  transform: translate(-35px);
}

.main-logo img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.search {
  width: 50%;
  display: flex;
}

.search-area {
  width: 80%;
  height: 35px;
  border-top: 2px solid #c2c2c2;
  border-left: 2px solid #c2c2c2;
  border-bottom: 2px solid #c2c2c2;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  padding: 0 0.5rem;
  font-family: "Comfortaa", cursive;
}

.search-area:focus {
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19d200;
  width: 80px;
  border: 2px solid #16be00;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-btn:hover {
  border: 2px solid #16be00;

  background-color: #fff;
  color: #14ad00;
}

.nav-btn {
  width: fit-content;
  display: flex;
  margin-right: 50px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #19d200;
  color: #ffffff;
  font-size: 30px;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 3px solid #16be00;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login-btn:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #19d200;
  color: #ffffff;
  font-size: 30px;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 3px solid #16be00;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-btn:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

.nav-bottom {
  width: 100%;
  height: inherit;
  background-color: #19d200;
  border-top: 3px solid #16be00;
  border-bottom: 3px solid #16be00;
}

.nav-bottom-ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0.5rem;
}

.nav-bottom-ul a {
  color: #ffffff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-bottom-ul a:hover {
  font-weight: bolder;
  text-decoration: none;
}

.bg {
  background-image: url("../assets/7035204_66.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -5;
}

.header-panel {
  margin-top: 159px;
  width: 100%;
  height: 634px;
  margin-bottom: 5rem;
}

.header-title {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.header-title h1 {
  color: #16be00;
  font-size: 65px;
  font-family: "Comfortaa", cursive;
}

.header-alt-title {
  padding: 0.5rem;
}

.header-alt-title h4 {
  color: #6e6e6e;
  font-size: 45px;
  font-family: "Caveat", cursive;
}

.box-center {
  display: flex;
  justify-content: center;
}

.box-panel {
  width: 90%;
  padding: 6rem 5rem;
  display: flex;
}

.box-left {
  width: 50%;
  height: 500px;
  overflow: hidden;
  margin: 3rem 2rem;
  background-color: #ad006d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 2px;
}

.box-a1 {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1 {
  width: 100%;

  object-fit: cover;
  height: inherit;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box-a1:hover #img1 {
  transform: scale(1.15);
}

.box-left h3 {
  z-index: 1;
  position: absolute;
  color: #00c8ff;
  font-weight: bolder;
  font-family: "Caveat", cursive;
  font-size: 100px;
  transform: rotate(-2deg);
  text-shadow: 5px 5px rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5rem;
  border: 6px solid #000000;
  box-shadow: rgba(0, 0, 0, 0.334) 0px 0px 15px 8px;
  /* height: 300px;
  width: 300px; */
}

.box-right {
  width: 50%;
  height: 500px;
  margin: 3rem 2rem;
}

.box-right-top {
  width: 100%;
  height: 240px;

  background-color: #009bbe;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 2px;
}

.box-a2 {
  width: 100%;
  height: fit-content;
  display: block;
}

#img2 {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 240px;
  /* transform: translate(0 ,-100px); */
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box-a2:hover #img2 {
  transform: scale(1.15);
}

.box-right-top h3 {
  z-index: 1;
  position: absolute;
  margin: 6rem 3rem;
  color: #fff;
  font-family: "Caveat", cursive;
  font-size: 58px;
  transform: rotate(-10deg);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.333);
}

.box-right-top h4 {
  z-index: 1;
  position: absolute;
  margin: 6rem 3rem;
  color: #fff;
  font-family: "Caveat", cursive;
  font-size: 40px;
  transform: rotate(-15deg) translate(0px, 60px);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.333);
}

.box-right-bottom {
  width: 100%;
  height: 240px;
  background-color: #ff4000;
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 2px;
}

.box-a3 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img3 {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 240px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box-a3:hover #img3 {
  transform: scale(1.15);
}

.box-right-bottom h3 {
  z-index: 1;
  position: absolute;
  color: #9500ff;
  font-weight: bolder;
  font-family: "Caveat", cursive;
  font-size: 68px;
  transform: rotate(-2deg);
  text-shadow: 3px 3px rgb(239, 239, 239);
}

.book-panel {
  background-color: #ffffff;
  position: relative;
  height: inherit;
  text-align: center;
  padding: 2rem 0;
}

.title {
  text-align: left;
  padding: 2rem 4rem;
  margin-left: 65px;
}
.title h3 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  color: #16be00;
}

.title hr {
  border: none;
  border-top: 0.25rem solid #16be00;
  max-width: 23rem;
  text-align: left;
  border-radius: 10px;
  margin: 1rem 0;
}

.book-col {
  background-color: #f9f9f9;
}

.book-col button {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.item {
  height: 420px;

  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 2px;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.book-img {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.book-img img {
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 80%;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.27) 0px 0px 15px 5px;
}

.item:hover .book-img img {
  transform: scale(1.15);
}

.item:hover .book-detail h6 {
  font-size: 16px;
  color: #16be00;
}

.item:hover .book-detail i {
  font-size: 26px;
  color: #16be00;
}

.det {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.book-detail {
  padding: 1rem 0;
  bottom: 0;
  position: absolute;
}

.book-detail h6 {
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #626262;
}

.book-detail i {
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  color: #626262;
  font-size: 25px;
}

.slide {
  /* width: 210px !important; */
  padding: 2rem 0;
  height: 450px !important;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0.5rem;
}
.book-info h3 {
  font-size: 14px;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  color: #16be00;
  text-transform: capitalize;
}

.book-author {
  display: flex;
  justify-content: center;
  margin: 1rem 0.4rem 0.2rem 0.4rem;
}
.book-author h4 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #16be00;
}

/* .book-author input {
  display: none;
} */
.book-author h6 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #626262;
}

.book-publisher {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}

.book-publisher h6 {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  color: #626262;
}

.book-publisher h5 {
  font-size: 11px;

  font-family: "Poppins", sans-serif;
  color: #16be00;
}

/* Slider */

.customer-logos {
  width: 87%;
  margin: auto;
  padding: 2rem 0;
}

.slick-slide {
  margin: 0px 20px;
}

/* .slick-slide img {
  width: 100%;
} */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.card-panel {
  padding: 5rem 1rem;
  background-color: #19d200;
}

.card-panel ul {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-panel li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-panel i {
  font-size: 48px;
  color: #119500;
  padding: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #119500;
}

.card-panel h1 {
  font-family: "Comfortaa", cursive;
  font-size: 38px;
  color: #fff;
  padding: 1rem 0;
}

.card-panel span {
  border-right: 3px solid #fff;
  height: 150px;
}

footer {
  padding: 1rem 0;
  background-color: #f2f2f2;
  color: #fff;
  text-align: center;
  border-top: 8px solid #16be00;
}

.footer-container {
  padding: 6rem 3rem;
  display: flex;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 4rem 0;
}

.footer-col {
  padding: 2rem;
  width: 60%;
}

/* #col{
  display: flex;
} */

.footer-logo {
  height: inherit;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo p {
  font-size: 30px;
  font-family: "Comfortaa", cursive;
  color: #16be00;
  transform: translate(-35px);
}

.footer-logo img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.footer-category h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  padding: 2rem 0 1rem 0;
  color: #626262;
}

.footer-underline {
  border: none;
  border-top: 0.3rem solid #626262;
  max-width: 20rem;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1rem;
}

.footer-category ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-category li {
  padding: 1rem;
}

.footer-category a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #16be00;
  font-size: 20px;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-category a:hover {
  font-weight: bolder;
  color: #15b300;
}

.copyright {
  background-color: #626262;
  padding: 2.4rem 0;
  text-align: center;
}
#copyrightText {
  color: #fff;
  font-size: 18px;
}

.detail-panel {
  margin-top: 100px;
  padding: 8rem 8rem 0 8rem;

  width: 100%;
}

.detail-container {
  padding: 6rem 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;

  /* height: 800px; */
}

.detail-left {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 3rem;
}

.detail-img {
  width: 360px;
  height: 520px;
}

.detail-img img {
  border: 2px solid #c6c6c67c;
  width: 100%;
  
}

.detail-right {
  margin: 3rem;
  padding: 2rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.detail-title h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  padding: 1rem 0;
}

.detail-author {
  display: flex;
  padding: 0.5rem 0;
}

.detail-author h6 {
  color: #16be00;
  font-size: 22px;
  font-family: "Comfortaa", cursive;
}

.detail-author h4 {
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}

.detail-publisher {
  display: flex;
  padding: 0.5rem 0;
}

.detail-publisher h6 {
  color: #16be00;
  font-size: 21px;
  font-family: "Comfortaa", cursive;
}

.detail-publisher h5 {
  font-size: 21px;
  font-family: "Source Sans Pro", sans-serif;
}

.detail-rank {
  padding: 1rem 0;
  margin-top: 1.5rem;
}

.detail-rank h3 {
  color: #16be00;
  font-size: 21px;
  font-family: "Comfortaa", cursive;
}

.rank {
  border: none;
  border-top: 0.25rem solid #16be00;
  max-width: 19rem;
  text-align: left;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.stars {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars i {
  font-size: 32px;
  color: orange;
}

.stars h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  /* margin: 0 .5rem; */
  padding: 1rem 0.5rem;
}

.details {
  padding-top: 2rem;
}


.detail-desc {
  display: flex;
}

.detail-desc h6 {
  color: #16be00;
  font-size: 19px;
  font-family: "Comfortaa", cursive;
}

.detail-desc h5 {
  padding: 0 0.5rem;
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
}

.detail-size {
  display: flex;
  padding:1rem 0 1.5rem 0;
}

.detail-size h6 {
  color: #16be00;
  font-size: 19px;
  font-family: "Comfortaa", cursive;
}

.detail-size h5 {
  padding: 0 0.5rem;
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
}

.detail-link {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.detail-link a {
  margin: 0 1rem;
  width: 100px;
  padding: 1rem;
  /* border: 3px solid #16be00; */
  border: 3px solid #a2a2a2;
  background-color: #fff;
  color: #14ad00;
  border-radius: 10px;
  text-align: center;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.detail-link a:hover {
  border: 3px solid #16be00;
}

.detail-link h6 {
  font-size: 16px;
}

.basket {
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.basket-btn {
  width: 100%;
  padding: 1rem;
  background-color: #16be00;
  border: 3px solid #16be00;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.basket-btn:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

#pad {
  padding-bottom: 6rem;
}

.com-container {
  padding: 1rem 25rem;
  background-color: #f9f9f9;
  width: 100%;
  margin: auto;
}

.com {
  padding: 2rem 0;
}

#rating {
  font-size: 25px;
  overflow: hidden;
}

.rate-non {
  color: rgb(184, 184, 184);
}

.rate {
  color: orange;
}

.com-container h4 {
  color: #2a2a2a;
}

.com-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.com-name h3 {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

.com-title {
  padding: 0.5rem 4rem;
  text-align: left;
}

.com-title h2 {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

.com-desc {
  background-color: #f1f1f1ae;
  padding: 1rem 4rem;
  width: 100%;
  text-align: left;
}

.com-desc h2 {
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
}

.com-date {
  padding: 1rem 4rem 3rem 4rem;
  text-align: right;
}

.com-date h5 {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
}

.com-line {
  border: none;
  border-top: 0.25rem solid #b6b6b61f;
  width: 95%;
  border-radius: 10px;
  margin: 0 auto;
}

.com-btn-place {
  margin: 1rem 0;
}

.com-btn {
  width: 30%;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #16be00;
  border: 3px solid #16be00;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.com-btn:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

.comment-container {
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.comment-container form {
  margin: 1rem 8rem;
  padding: 2rem 5rem;
}

.small-comment {
  display: flex;
  flex-direction: row;
}

.top-comment {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.bottom-comment {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-comment h1 {
  color: #16be00;
  font-size: 19px;
  font-family: "Comfortaa", cursive;
}

#sm-input {
  outline: none;
  border: 2px solid #626262;
  font-size: 14px;
  border-radius: 5px;
  width: 500px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem 1.5rem;
}

.comment-container label {
  color: #16be00;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
}

#com-pad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

#bg-input {
  outline: none;
  border: 2px solid #626262;
  font-size: 14px;
  border-radius: 5px;
  resize: none;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem 1.5rem;
}

.comment-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 4rem;
}

.comment-btn-place {
  width: 100%;
  padding: 2rem 0;
}

.comment-btn {
  width: 30%;
  padding: 1rem;
  background-color: #16be00;
  border: 3px solid #16be00;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.comment-btn:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

.rating {
  font-size: 30px;
  overflow: hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float: none;
}

.comdet{
  padding: 5rem 4rem 3rem 4rem;
  width: 100%;
  margin: auto;
}

.comdet-panel {
  padding: 3rem 2rem ;
  border-radius: 10px;
  border: 2px solid #c6c6c67c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comdet-img-box {
  width: 200px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.comdet-img-box img{
  border: 2px solid #c6c6c67c;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 15px 2px;
}

.comdet-img-box a{
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:2rem 0;
  padding: 1rem;
  background-color: #16be00;
  border: 3px solid #16be00;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.comdet-img-box a:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

.comdet-det{
  text-align: left;
}

.comdet-title{
  display: flex;
}
.comdet-tit{

  padding: 0 1rem;
}

.comdet-det h4{
  margin:2rem 0rem 1rem 0rem;
  font-size:24px;
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
}

.comdet-det h5{
  display: flex;
  align-items: center;
  margin:2rem 0rem 1rem 2rem;
  font-size:24px;
  color: #4c4c4c;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.bxs-book{
  color: #14ad00;
  font-size:48px;
}

.comdet-line {
  border: none;
  border-top: 0.25rem solid #14ad00;;
  width: 85%;
  text-align: left;
  border-radius: 10px;
  margin-left: 1rem;
}

.comdet-rank{
  margin-right:5rem;
  width: 240px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 289px;
}

.comdet-rank h1{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 80px;
  color: #4c4c4c;
}

.rank-card{
  border: 2px solid #c6c6c67c;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 2px;
  text-align: center;
  padding: 4rem 1rem;
  border-radius: 10px;
}

.bx-star  {
  font-size: 40px ; 
}

.comdet-num{
  margin-left:5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 289px;
}

.comdet-num h3{
  color: #4c4c4c;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}


td{
  text-align: center  ;
  border: 2px solid #c6c6c67c;
  padding: 1rem;
  
}

td i{
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: orange
}

td h6{
  color:#2a2a2a;
  font-size: 26px;
  font-family: "Source Sans Pro", sans-serif;
}

/*=============LOGIN================*/

label {
  margin: 0;
}

.login-panel {
  background-image: url("../assets/login.jpg");
  background-size: cover;
  background-color: #f0f0f0;
  height: inherit;
}

.login-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  padding: 1rem;
  background-color: #f8f8f8;
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.325) 0px 0px 15px 2px;
  border: 7px solid #f0f0f0;
}

.login-title {
  text-align: center;
  padding: 4rem 0 1rem 0;
}

.login-title h3 {
  color: #2a2a2a;
  font-size: 35px;
  font-family: "Comfortaa", cursive;
  color: #119500;
}

.login-body {
  padding: 3rem 1rem;
}

.fa-regular {
  padding: 0.86rem;
  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login-input-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.login-input-1 label {
  font-family: "Poppins", sans-serif;
  color: #119500;
}

#email {
  width: 89%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;
  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#email:focus {
  border-bottom: 3px solid #119500;
}

#email:focus + .fa-regular {
  padding: 0.85rem;
  border-bottom: 3px solid #119500;
}

.login-input-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-input-2 label {
  font-family: "Poppins", sans-serif;
  color: #119500;
}

#password {
  width: 89%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;

  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#password:focus {
  border-bottom: 3px solid #119500;
}

#password:focus + .fa-regular {
  padding: 0.85rem;
  border-bottom: 3px solid #119500;
}

.login-alt {
  padding: 0 1rem;
  text-align: right;
}

.login-alt a {
  font-family: "Poppins", sans-serif;
  color: #119500;
  font-weight: bolder;
  border-bottom: 3px solid transparent;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.login-alt a:hover {
  border-bottom: 2px solid #119500;
}

.login-btn-area {
  padding: 3rem 0;
}

.login-wide-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0.5rem 2rem;
  background-color: #19d200;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  margin: auto;
  border: 3px solid #16be00;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login-wide-btn:hover {
  border: 3px solid #16be00;
  background-color: #fff;
  color: #14ad00;
}

.login-line {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-line hr {
  border: none;
  border-top: 0.1rem solid #62626269;
  width: 15rem;
  border-radius: 10px;
}

.login-line h6 {
  font-size: 15px;
  margin: 0 0.5rem;
  font-family: "Poppins", sans-serif;
}

.login-social-area {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  margin: 0 1rem;
}

.google-btn {
  background-color: #df3b00;
  color: #ffffff;
  border: 3px solid #df3b00;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.google-btn:hover {
  border: 3px solid #df3b00;
  background-color: #ffffff;
  color: #df3b00;
}
.facebook-btn {
  background-color: #00689c;
  color: #ffffff;
  border: 3px solid #00689c;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.facebook-btn:hover {
  border: 3px solid #00689c;
  background-color: #ffffff;
  color: #00689c;
}
.twitter-btn {
  background-color: #00aad4;
  color: #ffffff;
  border: 3px solid #00aad4;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.twitter-btn:hover {
  border: 3px solid #00aad4;
  background-color: #ffffff;
  color: #00aad4;
}

.login-reg {
  text-align: center;
  margin: 2rem 0 4rem 0;
}
.login-reg h4 {
  font-family: "Poppins", sans-serif;
}

.login-reg a {
  font-family: "Poppins", sans-serif;
  color: #119500;
  font-weight: 600;
  border-bottom: 3px solid transparent;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login-reg a:hover {
  border-bottom: 2px solid #119500;
}

/*=======Register=======*/

.login-panel input{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.reg-body {
  padding: 0rem 1rem 1rem 1rem ;
}

.reg-input-1 {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.reg-in-1 {
  width: fit-content;
}

#Isim {
  width: 90%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;
  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#Isim:focus {
  border-bottom: 3px solid #119500;
}

#Soyisim {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;
  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#Soyisim:focus {
  border-bottom: 3px solid #119500;
}

.reg-input-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.reg-input-2 label {
  font-family: "Poppins", sans-serif;
  color: #119500;
}

#email-reg {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;
  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#email-reg:focus {
  border-bottom: 3px solid #119500;
}

#password-reg {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;

  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#password-reg:focus {
  border-bottom: 3px solid #119500;
}

#repassword {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 0;
  background-color: #f8f8f8;

  border-bottom: 3px solid #cccccc;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#repassword:focus {
  border-bottom: 3px solid #119500;
}


