<section>
  <div class="detail-panel">
    <div class="detail-container">
      <div class="detail-left">
        <div class="detail-img">
          <img src="../assets/harry.jpg" alt="" />
        </div>
      </div>
      <div class="detail-right">
        <div class="detail-title">
          <h3>HARRY POTTER AND THE DEATHLY HALLOWS</h3>

          <div class="detail-author">
            <h6>Yazar:</h6>
            &nbsp;
            <h4>James Patterson and Maxine Paetro</h4>
          </div>
          <div class="detail-publisher">
            <h6>Yayınevi:</h6>

            <h5>&nbsp;&nbsp;Pegasus</h5>
          </div>
        </div>

        <div class="detail-rank">
          <h3>Değerlendirmeler</h3>
          <hr class="rank" />
          <div class="stars">
            <i class="bx bxs-star"></i><i class="bx bxs-star"></i
            ><i class="bx bxs-star"></i><i class="bx bxs-star-half"></i
            ><i class="bx bx-star"></i>
            <h2>(16)</h2>
          </div>
        </div>
        <div class="details">
          <div class="detail-desc">
            <h6>Açıklama:</h6>
            <h5>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              sint, minus itaque provident obcaecati doloribus ducimus optio
              non voluptatibus, minima dignissimos tempore explicabo, iure
              quidem ipsa ipsum eos quod modi.
            </h5>
          </div>
          <div class="detail-size">
            <h6>Kitap Boyutu:</h6>

            <h5>&nbsp;&nbsp;200 x 100</h5>
          </div>
        </div>
        <div class="basket">
          <button type="submit" class="basket-btn">Sepete Ekle</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="pad" class="book-panel">
    <div class="title">
      <h3>Önerilenler</h3>
      <hr />
    </div>
    <div class="book-col">
      <div class="customer-logos slider">
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  &nbsp;
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <a href="#">
              <div class="book-img">
                <img src="../assets/harry.jpg" />
              </div>
              <div class="book-info">
                <h3>THE 23RD MIDNIGHT</h3>
                <div class="book-author">
                  <h6>Yazar:</h6>
                  <h4>James Patterson and Maxine Paetro</h4>
                </div>
                <div class="book-publisher">
                  <h6>Yayınevi:</h6>
                  &nbsp;
                  <h5>Pegasus</h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="pad" class="book-panel">
    <div class="title">
      <h3>Yorumlar</h3>
      <hr />
    </div>
    <div class="com-container">
      <div class="com">
        <table class="com-table">
          <tr>
            <td><h4 class="com-name">Ahmet Selim Boz</h4></td>
            <td><h4 class="com-title">Title</h4></td>
          </tr>
          <tr>
            <td>
              <div class="rating rate">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </td>
            <td>
              <h4 class="com-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quo fugiat dolore doloribus est officiis, nisi, maiores
                quisquam rem, rerum exercitationem non illo. Dicta
                reprehenderit maxime, iusto vitae ratione eos eligendi.
              </h4>
            </td>
          </tr>
        </table>
      </div>
      <div class="com">
        <table class="com-table">
          <tr>
            <td><h4 class="com-name">Ahmet Selim Boz</h4></td>
            <td><h4 class="com-title">Title</h4></td>
          </tr>
          <tr>
            <td>
              <div class="rating rate">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </td>
            <td>
              <h4 class="com-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quo fugiat dolore doloribus est officiis, nisi, maiores
                quisquam rem, rerum exercitationem non illo. Dicta
                reprehenderit maxime, iusto vitae ratione eos eligendi.
              </h4>
            </td>
          </tr>
        </table>
      </div>
      
    </div>
  </div>
</section>

<section>
  <div id="pad" class="book-panel">
    <div class="title">
      <h3>Yorum Yap</h3>
      <hr />
    </div>
    <div class="comment-container">
      <form action="">
        <div class="small-comment">
          <div class="top-comment">
            <div id="com-pad">
              <label for="Name">İsim-Soyisim</label>
              <input id="sm-input" type="text" name="name" />
            </div>
            <div id="com-pad">
              <label for="Name">Başlık</label>
              <input id="sm-input" type="text" name="title" />
            </div>
          </div>
          <div class="bottom-comment">
            <h1>Değerlendir</h1>
            <div class="rating rating2">
              <!--
            --><a href="#5"><i class="bx bxs-star"></i></a
              ><!--
            --><a href="#4"><i class="bx bxs-star"></i></a
              ><!--
            --><a href="#3"><i class="bx bxs-star"></i></a
              ><!--
            --><a href="#2"><i class="bx bxs-star"></i></a
              ><!--
            --><a href="#1"><i class="bx bxs-star"></i></a>
            </div>
          </div>
        </div>
        <div class="comment-desc">
          <label for="desc">Açıklama</label>
          <textarea
            id="bg-input"
            type="text"
            name="desc"
            rows="5"
          ></textarea>
        </div>
        <div class="comment-btn-place">
          <button type="submit" class="comment-btn">Yorum Yap</button>
        </div>
      </form>
    </div>
  </div>
</section>