<div class="profile-top">
  <h2>Şifre Güncelleme</h2>
</div>
<div class="profile-bottom">
  <form action="/auth/updatePassword" method="post">
    <% if (user.provider == "Local") { %>
    <div class="small-comment">
      <div class="top-user" style="flex-direction: column">
        <div id="user-pad">
          <label for="Name">Eski Şifre</label>
          <input
            id="user-input"
            type="password"
            name="oldpass"
            value=""
            style="width: 350px"
          />
        </div>
        <div id="user-pad">
          <label for="Name">Yeni Şifre</label>
          <input
            id="user-input"
            type="password"
            name="newpass"
            value=""
            style="width: 350px"
          />
        </div>
        <div id="user-pad">
          <label for="Name">Yeni Şifre Tekrar</label>
          <input
            id="user-input"
            type="password"
            name="renewpass"
            value=""
            style="width: 350px"
          />
        </div>
        <input type="hidden" name="id" value="<%- user.user.id %>" />
      </div>
      <div
        class="user-btn-place"
        style="margin: 0; height: 130px; align-items: center"
      >
        <button type="submit" class="user-btn">Güncelle</button>
      </div>
    </div>
    <% } else { %>
    <div class="small-comment">
      <div class="top-user" style="flex-direction: column">
        <h2>
          <i class="bx bxs-error"></i> <%- user.provider %> ile giriş yaptığınız
          için şifrenizi güncelleyemezsiniz.
        </h2>
      </div>
    </div>
    <% } %>
  </form>
</div>
