<% validation_error.forEach(element => { %>

        <div id="screen">
            <div class="notification">
              
              <div class="identifier"><i class="bx bx-x"></i></div>
              <div class="text">
                <p>
                    <%- element.msg %>
                  
                </p>
              </div>
            </div>
            <div class="number"><i class="bx bx-x"></i></div>
          </div>
    

    
    
   <% }) %>