<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/frontend/assets/pngwing.com.png"
      type="image/x-icon"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/frontend/css/style.css" class="css" />

    <title>Kitap Dağı | Dağ Kadar Kitabın Tek Adresi</title>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-top nav-top-slide">
        <div class="main-logo">
          <a href="/">
            <img src="/frontend/assets/com.png" />
          </a>
          <a href="/">
            <p>Kitap Dağı</p>
          </a>

          <div class="res-menu-btn">
            <i onclick="navshow()" id="search-icon" class="bx bx-search"></i>
            <!-- <i id="user-icon" class="bx bx-user-circle"></i> -->
            <i onclick="navmenushow()" id="menu-icon" class="bx bx-menu"></i>
          </div>
        </div>

        <form class="search display-none" action="">
          <input
            class="search-area"
            type="text"
            placeholder="Aradığınız kitabın adını buraya giriniz."
            name="search"
          />
          <button class="search-btn" type="submit">
            <i class="bx bx-search"></i>&nbsp;Ara
          </button>
        </form>
        <div class="nav-btn ">
          <div class="log">
            <div class="login-btn" onclick="logCard()" onmouseenter="logCard()">
              <i class="bx bx-user-circle"></i>
            </div>
            <div class="log-card">
              <div class="log-card-register">
                <a id="logname" href="/auth/register">Kayıt Ol</a>
              </div>
              <div class="log-card-login">
                <a id="logname" href="/auth/login">Giriş Yap</a>
              </div>
            </div>
          </div>

          <a class="cart-btn" href="/auth/favorites"
            ><i class="bx bx-heart"></i
          ></a>
        </div>
      </div>
      <div class="nav-bottom transfomY-5">
        <div class="res-bottom-btn">
          <a href="/auth/register"><i class='bx bx-user'></i>&nbsp;Kayıt Ol</a>
          <a href="/auth/login"><i class='bx bx-user-plus' ></i>&nbsp;Giriş Yap</a>
          <a href="/auth/favorites"><i class='bx bx-heart' ></i>&nbsp;Favoriler</a>
        
        </div>
        <p></p>
        <ul class="nav-bottom-ul">
          <li><a href="/page/edebiyat/1">Edebiyat</a></li>
          <li><a href="/page/bilim-kurgu/1">Bilim Kurgu</a></li>
          <li><a href="/page/cocuk/1">Çocuk</a></li>
          <li><a href="/page/kisisel-gelisim/1">Kişisel Gelişim</a></li>
          <li><a href="/page/tarih/1">Tarih</a></li>
          <li><a href="/page/psikoloji/1">Psikoloji</a></li>
          <li><a href="/page/felsefe/1">Felsefe</a></li>
        </ul>
      </div>
    </nav>
    <%- body %>

    <footer>
      <div class="footer-container">
        <div class="footer-col" id="col">
          <div class="footer-logo">
            <a href="#">
              <img src="/frontend/assets/com.png" />
            </a>
            <p>Kitap Dağı</p>
          </div>
          <div class="footer-category">
            <h4>Üyelik</h4>
            <hr class="footer-underline" />
            <ul>
              <li><a href="/auth/register">Yeni Üyelik</a></li>
              <li><a href="/auth/login">Üye Girişi</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-flex">
          <div class="footer-col">
            <div class="footer-category">
              <h4>Kategoriler</h4>
              <hr class="footer-underline" />
              <ul>
                <li><a href="/page/edebiyat/1">Edebiyat</a></li>
                <li><a href="/page/bilim-kurgu/1">Bilim Kurgu</a></li>
                <li><a href="/page/cocuk/1">Çocuk</a></li>
                <li><a href="/page/kisisel-gelisim/1">Kişisel Gelişim</a></li>
                <li><a href="/page/tarih/1">Tarih</a></li>
                <li><a href="/page/psikoloji/1">Psikoloji</a></li>
                <li><a href="/page/felsefe/1">Felsefe</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-col">
            <div class="footer-category">
              <h4>Hızlı Erişim</h4>
              <hr class="footer-underline" />
              <ul>
                <li><a href="/">Anasayfa</a></li>
                <li>
                  <a href="/page/yeni-cikan-kitaplar/1">Yeni Çıkan Kitaplar</a>
                </li>
                <li><a href="/page/indirimdekiler/1">İndirimdekiler</a></li>
                <li><a href="/auth/favorites">Favorilerim</a></li>
                <li><a href="../pages/ContactMe.html">İletişim</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <small id="copyrightText">Copyright © ASB 2023</small>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="/frontend/js/api.js"></script>
    <script src="/frontend/js/web.js"></script>
  </body>
</html>
